[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/cpp.vim"]
	path = bundle/cpp.vim
	url = https://github.com/vim-scripts/Cpp11-Syntax-Support
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/vim-go.git"]
	path = bundle/vim-go.git
	url = https://github.com/fatih/vim-go.git
