[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/cpp.vim"]
	path = bundle/cpp.vim
	url = https://github.com/vim-scripts/Cpp11-Syntax-Support
[submodule "bundle/vim-go.git"]
	path = bundle/vim-go.git
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/glsl.vim"]
	path = bundle/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "bundle/verilog.vim"]
	path = bundle/verilog.vim
	url = https://github.com/vim-scripts/verilog.vim.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
